.schedule-container {
    .all-schedule {
        .selected-day {
            background-color: #FFFFFF;
            padding: 5px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all 0.3s;
            border: none;
            border-bottom: 1px solid gray;
            font-size: 16px;
            color: #4585BD;
            margin-left: -10px;

            &:hover {
                background-color: #f0f0f0;
            }
        }

        .title-schedule {
            font-size: 16px;
            font-weight: 600;
            color: #000;
            margin-bottom: 15px;
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .time {
            width: 100%;
            height: 100px;
            display: flex;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .time-item {
                background-color: #EEEEEE;
                height: fit-content;
                width: fit-content;
                padding: 10px 15px;
                border-radius: 5px;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    background-color: orange;
                }
            }

            .no-schedule {
                font-size: 16px;
                margin-bottom: 10px;
                color: #000;
            }

        }

        .more {
            height: 40px;
            font-size: 14px;
            margin-top: 10px;
            color: #6E6E6E;
            cursor: pointer;
            margin-top: 10px;

            i {
                color: #4585BD;
            }
        }

    }
}