.address {
    font-weight: 600;
    color: #5A5A5A;

    .hospital {
        font-weight: 500;
        color: #000000;
    }

    .hospital-address {
        font-weight: 500;
    }
}

.price {
    font-weight: 600;
    color: #5A5A5A;

    .price-container {
        font-size: 15px;
        font-weight: 500;

        .price-detail {
            padding: 5px;
            border: 1px solid gray;
            display: flex;
            flex-direction: column;

            .top-content {
                display: flex;
                justify-content: space-between;
            }
        }

        .payment {
            padding: 5px;
            border: 1px solid gray;
            border-top: none;
            background-color: #F8F8F8;
        }
    }

    .btn-show-hide {
        border: none;
        background-color: white;
        color: #2B8AC6;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        margin-left: 10px;
    }

}

.insurance {
    font-weight: 600;
    color: #5A5A5A;
}